doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Multiplex PCR
    link(rel='stylesheet', href='/css/style.css')

  body
    header
      h1 Multiplex PCR

    main
      p This is the Multiplex PCR page. You can add your content here.

    footer
      p Copyright © 2024 Your Company Name. All rights reserved.
