.p-4
    h4.fst-italic Elsewhere
    ol.list-unstyled
        li
            a(href='https://www.linkedin.com/in/zaibonisha-mohamed-76740b17a/') LinkedIn
        li
            a(href='https://twitter.com/ZaibonishaM') Twitter
        li     
            a(href='https://github.com/Zaibonisha') Github
        